Repository hmcts/dtsse-ardoq-adapter, pull requests merged in 2023-05, with the labels that each got.

#83 DTSSE-3101/batch api
  src/main/modules/ardoq/ArdoqClient.ts
  src/main/modules/ardoq/ArdoqComponentCreatedStatus.ts
  src/main/modules/ardoq/RequestProcessor.ts
  src/main/modules/ardoq/batch/BatchModel.ts
  src/main/modules/ardoq/batch/BatchRequest.ts
  src/main/modules/ardoq/batch/Component.ts
  src/main/modules/ardoq/batch/Reference.ts
  src/test/unit/modules/ardoq/ArdoqClient.test.ts
  src/test/unit/modules/ardoq/RequestProcessor.test.ts
  src/test/unit/modules/ardoq/batch/BatchRequest.test.ts
Labels: ns:dtsse, prd:dtsse, rel:dtsse-ardoq-adapter-pr-83

#89 Cleanup invalid references
  src/main/modules/ardoq/ArdoqClient.ts
  src/main/modules/ardoq/RequestProcessor.ts
  src/main/modules/ardoq/batch/BatchModel.ts
  src/main/modules/ardoq/batch/BatchRequest.ts
  src/main/modules/ardoq/repositories/ArdoqReferenceRepository.ts
  src/test/unit/modules/ardoq/RequestProcessor.test.ts
  src/test/unit/modules/ardoq/batch/BatchRequest.test.ts
  src/test/unit/modules/ardoq/repositories/ArdoqBatchRespository.test.ts
  src/test/unit/modules/ardoq/repositories/ArdoqReferenceRespository.test.ts
Labels: ns:dtsse, prd:dtsse, rel:dtsse-ardoq-adapter-pr-89

#95 Fix logging bug and correct name for version field
  src/main/modules/ardoq/repositories/ArdoqBatchRespository.ts
  src/main/modules/ardoq/repositories/ArdoqReferenceRepository.ts
  src/test/unit/modules/ardoq/ArdoqClient.test.ts
Labels: ns:dtsse, prd:dtsse, rel:dtsse-ardoq-adapter-pr-95

#96 Language version support
  .github/workflows/ardoq.yaml
  src/main/modules/ardoq/ArdoqClient.ts
  src/main/modules/ardoq/ArdoqRequest.ts
  src/main/modules/ardoq/RequestProcessor.ts
  src/main/openapi.yaml
  src/test/unit/modules/ardoq/RequestProcessor.test.ts
  src/test/unit/modules/ardoq/TestUtility.ts
Labels: ns:dtsse, prd:dtsse, rel:dtsse-ardoq-adapter-pr-96

#98 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:dtsse, prd:dtsse, rel:dtsse-ardoq-adapter-pr-98
